KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=-Iarch/i386/include
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)//boot/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/cpu/arch.o \
$(ARCHDIR)/cpu/gdt.o \
$(ARCHDIR)/cpu/gdt-asm.o \
$(ARCHDIR)/cpu/idt.o \
$(ARCHDIR)/cpu/interrupts.o \
$(ARCHDIR)/cpu/isr.o \
